@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&subset=cyrillic');

$font: 'Acrom', sans-serif;
$font2: 'HelveticaNeueCyr', sans-serif;


$beta: #686262;
$text: #9b9999;

$underline: #6AB971;

$smalmenu: #A3C997;

/*link*/
$link: #369;
$link-hover: #147;
